
.table{
    margin-top: 2px;
    border-top: solid 2px;
}
.icorn{
    padding: 0.3rem;
}
.text-center{
    background-color: #fdfdcd;
}
.BoardListSelect{
    width: 100%;
    border: solid 1px #E8E8E8;
}
.BoardListWriteButton{
    background-color: #fcfbfb;
    color: black;
    border: 1px solid #E8E8E8;
    padding: 9px;
}
.BoardListWriteButton:hover{
    text-decoration: underline;
}
.BoardListPaging{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
.BoardListFooter{
    border-top: solid 1px #E8E8E8;
    padding-top: 20px ;
    display: flex;
    justify-content: center;
}
.BoardListInput{
    width: 100%;
}
.BoardListButton{
   
    background: #1dc207;
    color: white;
  
}
.BoardListPagingButton:active{
    background-color: white;
    color: #1dc207;
}
.BoardListPagingButton:hover{
    text-decoration: underline;
}
.BoardListPagingPN:hover{
    text-decoration: underline;
}