.Login0 {display: flex; justify-content: center; align-items: center;}
.Login1 {width: 50%; margin: 0;}

.login-h1{text-align: center; margin-top: 30%; margin-bottom: 15%;}
.login-h5{text-align: center; margin-top: 10%; margin-bottom: 5%}