div.mainNav button.nav-link.active{
    font-weight: bold !important;
    color:#6249D6 !important;
    border-bottom: 2px solid #6249D6 !important;
    font-weight: bold;
    color:#9A4444 !important;
    border-bottom: 2px solid #9A4444 !important;

}
div.mainNav button.nav-link{
    color: #999 !important;
}

a.hotelCategoryList{
    text-decoration: none;
    color:black;
    transition: 0.5s;
}

a.hotelCategoryList:hover{
    text-decoration: none;
    color: #9A4444;
    background-color: #e6e6e9;
    border-radius: 2rem;
}

span.hotelCategoryListName{
    color: #999;
    font-size: 0.8rem;
    transition: 1s;
}

a.hotelCategoryList:hover span.hotelCategoryListName{
    color: black;
    font-weight: bold;
    border-bottom: 1px solid #9A4444;
}
.fixed-chatbot-button {
    position: fixed;
    bottom: 20px; 
    left: 91%; 
    z-index: 1001; 
  }
  .fixed-chatbot-button button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
 .react-simple-chatbot-container {
  position: fixed;
  bottom: 250px; 
  left: 1350px;
  z-index: 1000;
}